  numpy < 1.29.0
  pyarrow==16.1.0
  boto3==1.34.69
  mmh3==5.1.0
  psutil
  polars>=1.9.0
  huggingface-hub>=0.25.2
  #ray[default]>=2.36.1
  fastapi>=0.110.2
  pillow>=10.3.0
  # for demo
  pyspark
  pandas
  duckdb
  fasttext
  langcodes